@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table th:first-child{
  position: initial;
} /*table col number to relative*/
.table :where(thead, tfoot) :where(th, td){
  background-color: transparent;
} 
.table :where(tbody th, tbody td){
  background-color: transparent;
}

.table, .avatar{
  position: inherit;
}


.setPadding td{
  padding-top: 8px;
  padding-bottom: 8px;
}