@tailwind base;
@tailwind components;
@tailwind utilities;
/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  margin: 0;
  font-family: 'Roboto',;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table th:first-child{
  position: initial;
} /*table col number to relative*/
.table :where(thead, tfoot) :where(th, td){
  background-color: transparent;
} 
.table :where(tbody th, tbody td){
  background-color: transparent;
}

.table, .avatar{
  position: inherit;
}


.setPadding td{
  padding-top: 8px;
  padding-bottom: 8px;
}